body {
  padding-top: 2%; /* adjust based on header height */
}

.divspace{
  height: 200vh;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #f7f4e8;
  display: flex;
  align-items: center;
  padding: 0 6vw;
}

/* Main headline */
.hero h1 {
  font-size: clamp(2.5rem, 6vw, 6rem);
  font-weight: 800;
  line-height: 1.1;
  color: #634028; /* deep green */
  max-width: 900px;
  position: relative;
  z-index: 2;
}

/* Second line subtle styling */
.hero h1 span {
  font-weight: 500;
  font-size: clamp(1.6rem, 3vw, 2.8rem);
  color: #634028;
  opacity: 0.85;
  display: inline-block;
  margin-top: 20px;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url("https://raw.githubusercontent.com/Bhavesh-vaidya/FoodRakshak/main/Assets/Images/home_bg.png");
  background-size: cover;
  background-position: center;
  transform: translateY(100%); /* Image starts BELOW */
  transition: transform 0.2s linear;
  z-index: 1;
}
